@using CustomHtmlHelpers.CustomHtmlHelper
@{
    ViewBag.Title = "DisplayImage";
}

<h3>Custom Html Helper for displaying an image</h3>

<div class="container">
  @Html.Image("img-fluid img-thumbnail")
</div>

